{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Ajouter recette{% endblock %}

{% block body %}
  <main>
      <!-- food section -->
      <section class="book_section layout_padding">
          <div class="container">
              <div class="heading_container">
                  <h2>
                      Ajouter une recette
                  </h2>
              </div>
              <div class="row" id="formRecette">
                  <div class="col-md-6">
                      <div class="form_container">
                          <form action="">
                              <div>
                                  <input type="text" class="form-control" placeholder="Nom de la recette" />
                              </div>
                              <div>
                                  <input type="number" class="form-control" placeholder="Temps de préparation (min)" />
                              </div>
                              <div>
                                  <input type="number" class="form-control" placeholder="Temps de cuisson (min)" />
                              </div>
                              <div>
                                  <input type="text" class="form-control" placeholder="Liste des ingrédients" />
                              </div>
                              <div>
                                  <input type="text" class="form-control" placeholder="Etapes" />
                              </div>
                              <div>
                                  <select class="form-control nice-select wide">
                                      <option value="" disabled selected>
                                          Nombre de personnes
                                      </option>
                                      <option value="">
                                          2
                                      </option>
                                      <option value="">
                                          3
                                      </option>
                                      <option value="">
                                          4
                                      </option>
                                      <option value="">
                                          5
                                      </option>
                                  </select>
                              </div>
                              <div>
                                  <select class="form-control nice-select wide">
                                      <option value="" disabled selected>
                                          Catégorie
                                      </option>
                                      <option value=".spain">
                                          Espagne
                                      </option>
                                      <option value=".united-states">
                                          Etats-Unis
                                      </option>
                                      <option value=".france">
                                          France
                                      </option>
                                      <option value=".germany">
                                          Germany
                                      </option>
                                      <option value=".greece">
                                          Grèce
                                      </option>
                                      <option value=".india">
                                          Inde
                                      </option>
                                      <option value=".indonesia">
                                          Indonésie
                                      </option>
                                      <option value=".israel">
                                          Israël
                                      </option>
                                      <option value=".italy">
                                          Italie
                                      </option>
                                      <option value=".lebanon">
                                          Liban
                                      </option>
                                      <option value=".united-kingdom">
                                          Royaume-Uni
                                      </option>
                                      <option value=".switzerland">
                                          Suisse
                                      </option>
                                      <option value=".vietnam">
                                          Vietnam
                                      </option>
                                  </select>
                              </div>
                              <div class="btn_box" style="text-align: center">
                                  <button href="{{ path('main_accueil') }}">Ajouter</button>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </section>

  <!-- end food section -->
{% endblock %}