{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Ajouter recette{% endblock %}

{% block body %}
  <main>
      <!-- food section -->
      <section class="food_section layout_padding">
        <div class="container">
          <div class="heading_container heading_center">
            <h2>
              Ajouter une recette
            </h2>
          </div>
        </div>
      </section>
  </main>

  <!-- end food section -->
{% endblock %}