@media (max-width: 1300px) {}

@media (max-width: 1120px) {}

@media (max-width: 992px) {

  main {
    background-size: cover;
  }

  h5 {
    font-size: 1rem;
  }

  .hero_area {
    min-height: auto;
  }

  .custom_nav-container .navbar-nav {
    padding-top: 15px;
padding-left: 0;
    align-items: center;
  }

  .user_option{
    justify-content: center;
    margin-top: 15px;
  }
  .custom_nav-container .navbar-nav .nav-item .nav-link {
    padding: 5px 25px;
    margin: 5px 0;
  }

  .slider_section .carousel-indicators {
    margin-top: 45px;
  }

  .offer_section .box {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .offer_section .box .img-box {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .row .details {
    display: flex;
    flex-direction: column-reverse;
    text-align: justify;
  }

  .infosRecette {
    border: none;
    margin-bottom: 3em;
    text-align: justify;
  }

  .infosRecetteRow {
    margin-left: 1em;
    margin-right: 1em;
  }

  .col-md-9 {
    max-width: 100%
  }

  .col-md-3 {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .col-md-3 br {
    display: none;
  }

  .food_section .box .detail-box p {
    font-size: 11px;
  }

  .retourAccueil {
    margin-top: 47px;
  }

}

@media (max-width: 767px) {

  #mainLogo {
    width: 5em;
  }

  .heading_container h2 {
    font-size: 1.8rem;
  }

  .about_section .detail-box,
  .book_section .form_container {
    margin-bottom: 45px;
  }

  .about_section .row {
    flex-direction: column-reverse;
  }

  .offer_section .box {
    flex-direction: row;
    text-align: left;
  }

  .offer_section .box .img-box {
    margin-right: 15px;
    margin-bottom: 0;
  }

  .infosRecetteRow {
    margin-left: 2em;
    margin-right: 2em;
  }
  
  .retourAccueil {
      display: none;
  }
  
  .col-md-9 {
      order: 2;
  }
  
  .col-md-3 {
      order: 1;
      display: block;
  }
}

@media (max-width: 576px) {}

@media (max-width: 480px) {
  .infosRecetteRow {
    margin-left: 0;
    text-align: justify;
  }

  .retourAccueil {
    margin-top: 10em;
  }
}

@media (max-width: 430px) {
  .offer_section .box {
    flex-direction: column;
    text-align: center;
  }

  .offer_section .box .img-box {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

@media (max-width: 376px) {
  .slider_section .detail-box h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}


@media (min-width:576px) and (max-width:991px) {
  .rent_solution_container .col-md-4.col-sm-6 {
    float: left;
    width: 50%;
  }
}