<nav class="navbar navbar-expand-lg custom_nav-container ">
    <a class="navbar-brand" href="{{ path('main_accueil') }}">
            <span>
              <img src="{{ asset('images/VinsFood.png') }}" alt="Vin's Food" id="mainLogo">
            </span>
    </a>
</nav>