<nav class="navbar navbar-expand-lg custom_nav-container ">
    <a class="navbar-brand" href="{{ path('main_accueil') }}">
            <span>
              Vin's Food
            </span>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class=""> </span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav  mx-auto ">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('main_accueil') }}">Accueil <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('ajoutRecette') }}">Ajouter recette</a>
            </li>
        </ul>
        <div class="user_option">
            <a href="" class="user_link">
                <i class="fa fa-user" aria-hidden="true"></i>
            </a>
            <form class="form-inline">
                <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </form>
            <a href="" class="order_online">
                Créer un compte
            </a>
        </div>
    </div>
</nav>